In [162]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [163]:
with open("D:/Data Science/Python/Assignment27/nba_2013.csv") as file:
    nba = pd.read_csv(file)

In [164]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [165]:
nba.drop(columns="player", inplace=True)
nba.head()

,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,SF,23,TOT,63,0,847,66,141,0.468,4,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,C,20,OKC,81,20,1197,93,185,0.503,0,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,PF,27,TOT,53,12,961,143,275,0.520,0,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,SG,28,ORL,73,73,2552,464,1011,0.459,128,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,C,25,NOP,56,30,951,136,249,0.546,0,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [166]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 30 columns):
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(3)
memory usage: 112.8+ KB

In [208]:
num_col=[]
for column in nba.columns:
    if nba[column].dtype in ('int64','float64'):
        num_col.append(column)

In [216]:
print(num_col)

['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season_end']

In [239]:
rel_col= ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.',
          'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

# nba_numeric = nba[rel_col]
# nba_normalized = (nba_numeric - nba_numeric.mean()) / nba_numeric.std()
nba_normalized=nba[rel_col]

In [241]:
nba_normalized.isnull().sum().sort_values(ascending=False).head(6)

x3p.    67
ft.     20
x2p.     3
fg.      2
efg.     2
x2pa     0
dtype: int64

In [242]:
y=nba_normalized['pts']
X=nba_normalized.drop(columns='pts')

features=X.columns

In [243]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
X = imp.fit_transform(X)
X = pd.DataFrame(data=imp.transform(X), columns=features)

In [244]:
X.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf
0,23.0,63.0,0.0,847.0,66.0,141.0,0.468,4.0,15.0,0.266667,...,53.0,0.660,72.0,144.0,216.0,28.0,23.0,26.0,30.0,122.0
1,20.0,81.0,20.0,1197.0,93.0,185.0,0.503,0.0,0.0,0.330976,...,136.0,0.581,142.0,190.0,332.0,43.0,40.0,57.0,71.0,203.0
2,27.0,53.0,12.0,961.0,143.0,275.0,0.520,0.0,0.0,0.330976,...,119.0,0.639,102.0,204.0,306.0,38.0,24.0,36.0,39.0,108.0
3,28.0,73.0,73.0,2552.0,464.0,1011.0,0.459,128.0,300.0,0.426667,...,336.0,0.815,32.0,230.0,262.0,248.0,35.0,3.0,146.0,136.0
4,25.0,56.0,30.0,951.0,136.0,249.0,0.546,0.0,1.0,0.000000,...,67.0,0.836,94.0,183.0,277.0,40.0,23.0,46.0,63.0,187.0

In [255]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size = 0.3, random_state = 1)
y_train = y_train
y_test = y_test

In [258]:
for K in range(100):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  2.0689655172413794 % for K-Value: 1
Accuracy is  4.137931034482759 % for K-Value: 2
Accuracy is  4.137931034482759 % for K-Value: 3
Accuracy is  4.137931034482759 % for K-Value: 4
Accuracy is  4.137931034482759 % for K-Value: 5
Accuracy is  2.7586206896551726 % for K-Value: 6
Accuracy is  2.7586206896551726 % for K-Value: 7
Accuracy is  3.4482758620689653 % for K-Value: 8
Accuracy is  4.137931034482759 % for K-Value: 9
Accuracy is  4.137931034482759 % for K-Value: 10
Accuracy is  4.137931034482759 % for K-Value: 11
Accuracy is  4.137931034482759 % for K-Value: 12
Accuracy is  4.827586206896552 % for K-Value: 13
Accuracy is  4.827586206896552 % for K-Value: 14
Accuracy is  4.827586206896552 % for K-Value: 15
Accuracy is  5.517241379310345 % for K-Value: 16
Accuracy is  5.517241379310345 % for K-Value: 17
Accuracy is  5.517241379310345 % for K-Value: 18
Accuracy is  4.137931034482759 % for K-Value: 19
Accuracy is  4.137931034482759 % for K-Value: 20
Accuracy is  4.137931034482759 % for K-Value: 21
Accuracy is  4.137931034482759 % for K-Value: 22
Accuracy is  3.4482758620689653 % for K-Value: 23
Accuracy is  3.4482758620689653 % for K-Value: 24
Accuracy is  3.4482758620689653 % for K-Value: 25
Accuracy is  3.4482758620689653 % for K-Value: 26
Accuracy is  3.4482758620689653 % for K-Value: 27
Accuracy is  3.4482758620689653 % for K-Value: 28
Accuracy is  2.7586206896551726 % for K-Value: 29
Accuracy is  2.7586206896551726 % for K-Value: 30
Accuracy is  2.7586206896551726 % for K-Value: 31
Accuracy is  2.7586206896551726 % for K-Value: 32
Accuracy is  2.7586206896551726 % for K-Value: 33
Accuracy is  2.0689655172413794 % for K-Value: 34
Accuracy is  2.0689655172413794 % for K-Value: 35
Accuracy is  2.0689655172413794 % for K-Value: 36
Accuracy is  2.0689655172413794 % for K-Value: 37
Accuracy is  2.0689655172413794 % for K-Value: 38
Accuracy is  2.0689655172413794 % for K-Value: 39
Accuracy is  2.0689655172413794 % for K-Value: 40
Accuracy is  2.0689655172413794 % for K-Value: 41
Accuracy is  2.0689655172413794 % for K-Value: 42
Accuracy is  2.0689655172413794 % for K-Value: 43
Accuracy is  2.0689655172413794 % for K-Value: 44
Accuracy is  2.0689655172413794 % for K-Value: 45
Accuracy is  2.0689655172413794 % for K-Value: 46
Accuracy is  2.0689655172413794 % for K-Value: 47
Accuracy is  2.0689655172413794 % for K-Value: 48
Accuracy is  2.0689655172413794 % for K-Value: 49
Accuracy is  2.0689655172413794 % for K-Value: 50
Accuracy is  2.0689655172413794 % for K-Value: 51
Accuracy is  2.0689655172413794 % for K-Value: 52
Accuracy is  2.0689655172413794 % for K-Value: 53
Accuracy is  2.0689655172413794 % for K-Value: 54
Accuracy is  2.0689655172413794 % for K-Value: 55
Accuracy is  2.0689655172413794 % for K-Value: 56
Accuracy is  2.0689655172413794 % for K-Value: 57
Accuracy is  2.0689655172413794 % for K-Value: 58
Accuracy is  2.0689655172413794 % for K-Value: 59
Accuracy is  2.0689655172413794 % for K-Value: 60
Accuracy is  2.0689655172413794 % for K-Value: 61
Accuracy is  2.0689655172413794 % for K-Value: 62
Accuracy is  2.0689655172413794 % for K-Value: 63
Accuracy is  2.0689655172413794 % for K-Value: 64
Accuracy is  2.0689655172413794 % for K-Value: 65
Accuracy is  2.0689655172413794 % for K-Value: 66
Accuracy is  2.0689655172413794 % for K-Value: 67
Accuracy is  2.0689655172413794 % for K-Value: 68
Accuracy is  2.0689655172413794 % for K-Value: 69
Accuracy is  2.0689655172413794 % for K-Value: 70
Accuracy is  2.0689655172413794 % for K-Value: 71
Accuracy is  2.0689655172413794 % for K-Value: 72
Accuracy is  2.0689655172413794 % for K-Value: 73
Accuracy is  2.0689655172413794 % for K-Value: 74
Accuracy is  2.0689655172413794 % for K-Value: 75
Accuracy is  2.0689655172413794 % for K-Value: 76
Accuracy is  2.0689655172413794 % for K-Value: 77
Accuracy is  2.0689655172413794 % for K-Value: 78
Accuracy is  2.0689655172413794 % for K-Value: 79
Accuracy is  2.0689655172413794 % for K-Value: 80
Accuracy is  2.0689655172413794 % for K-Value: 81
Accuracy is  2.0689655172413794 % for K-Value: 82
Accuracy is  2.0689655172413794 % for K-Value: 83
Accuracy is  2.0689655172413794 % for K-Value: 84
Accuracy is  2.0689655172413794 % for K-Value: 85
Accuracy is  2.0689655172413794 % for K-Value: 86
Accuracy is  2.0689655172413794 % for K-Value: 87
Accuracy is  2.0689655172413794 % for K-Value: 88
Accuracy is  2.0689655172413794 % for K-Value: 89
Accuracy is  2.0689655172413794 % for K-Value: 90
Accuracy is  2.0689655172413794 % for K-Value: 91
Accuracy is  2.0689655172413794 % for K-Value: 92
Accuracy is  2.0689655172413794 % for K-Value: 93
Accuracy is  2.0689655172413794 % for K-Value: 94
Accuracy is  2.0689655172413794 % for K-Value: 95
Accuracy is  2.0689655172413794 % for K-Value: 96
Accuracy is  2.0689655172413794 % for K-Value: 97
Accuracy is  2.0689655172413794 % for K-Value: 98
Accuracy is  2.0689655172413794 % for K-Value: 99
Accuracy is  2.0689655172413794 % for K-Value: 100

In [248]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5)
neigh=knn.fit(X_train, y_train)
y_pred = neigh.predict(X_test)

In [254]:
y_pred

array([3.1580e+02, 5.1900e+02, 1.3560e+02, 2.9640e+02, 3.4460e+02,
       2.2800e+01, 2.8000e+02, 7.7000e+01, 4.3040e+02, 4.9380e+02,
       3.5340e+02, 9.7440e+02, 1.6920e+02, 4.3780e+02, 5.6460e+02,
       1.3014e+03, 4.3520e+02, 8.4320e+02, 8.6000e+01, 7.8300e+02,
       2.7600e+02, 2.0760e+02, 1.5620e+02, 1.0200e+01, 2.8120e+02,
       6.3580e+02, 1.6048e+03, 7.9200e+02, 3.3940e+02, 7.9800e+01,
       1.5136e+03, 8.6000e+01, 8.6600e+02, 8.0440e+02, 1.1048e+03,
       3.3680e+02, 1.0678e+03, 2.9520e+02, 1.8170e+03, 1.1434e+03,
       1.0862e+03, 1.8000e+02, 8.9600e+01, 1.1160e+02, 8.0600e+01,
       7.8160e+02, 1.2780e+02, 1.4100e+02, 1.8832e+03, 1.6500e+02,
       1.8140e+02, 1.4632e+03, 1.6020e+02, 2.2200e+01, 1.5600e+01,
       9.5480e+02, 3.3140e+02, 3.4920e+02, 2.1880e+02, 6.8200e+01,
       1.3666e+03, 1.2000e+01, 3.0000e+00, 3.5340e+02, 4.0020e+02,
       1.3588e+03, 1.3020e+02, 6.0300e+02, 6.0200e+01, 1.3828e+03,
       9.3100e+02, 1.2314e+03, 6.6660e+02, 2.3440e+02, 9.7060e+02,
       2.8940e+02, 7.7020e+02, 1.8832e+03, 4.2000e+00, 4.8980e+02,
       9.2360e+02, 1.2200e+01, 3.1380e+02, 2.0040e+02, 8.2400e+01,
       1.4704e+03, 1.2200e+01, 4.1000e+01, 7.0600e+01, 4.0200e+02,
       6.0000e-01, 1.0812e+03, 1.7760e+02, 1.6000e+00, 1.1056e+03,
       1.7840e+02, 3.8680e+02, 2.4960e+02, 3.1020e+02, 3.3860e+02,
       1.1640e+02, 7.3220e+02, 1.8440e+02, 1.0720e+03, 1.2300e+02,
       3.4800e+01, 4.1660e+02, 2.5200e+01, 1.5960e+02, 5.9000e+02,
       6.0260e+02, 1.7402e+03, 2.7160e+02, 2.2600e+02, 1.0036e+03,
       8.9600e+01, 8.9200e+02, 9.8000e+00, 1.2000e+02, 1.2000e+00,
       5.2400e+01, 1.2828e+03, 1.0160e+02, 5.1420e+02, 1.3200e+03,
       8.4800e+01, 9.6400e+01, 1.5392e+03, 1.0658e+03, 7.9560e+02,
       8.9600e+01, 3.3200e+01, 1.2358e+03, 3.7880e+02, 1.2086e+03,
       1.4400e+01, 1.3078e+03, 7.3000e+01, 5.9980e+02, 1.1052e+03,
       2.8440e+02, 5.3820e+02, 4.6120e+02, 7.4800e+01, 1.7840e+02])

In [249]:
accuracy_score(y_test, y_pred, normalize=True)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [199]:
y_test

array([ 280,  430,  166,  261,  393,   20,  211,   64,  472,  558,  301,
       1041,  194,  548,  592, 1328,  457,  820,   72,  781,  257,  200,
        124,    6,  224,  626, 1583,  759,  328,   63, 1873,  107,  921,
        666,  998,  414,  781,  315, 1930, 1209, 1007,  144,   92,  159,
        102,  831,  189,  109, 2112,  138,  201, 1417,  178,   18,   20,
        871,  384,  343,  352,   65, 1542,    6,    0,  404,  416, 1289,
        150,  510,   92, 1614,  890, 1226,  586,  202,  929,  268,  630,
       2089,    7,  461,  939,   16,  338,  200,   93, 1603,   14,   38,
         62,  487,    0, 1012,  159,    1, 1042,  206,  485,  216,  306,
        350,  104,  641,  191, 1047,  140,   28,  403,   15,  177,  603,
        499, 2010,  214,  249, 1144,   94,  925,    3,  145,    0,   68,
       1167,   75,  470, 1249,   82,   78, 1851,  856,  760,   65,   44,
       1249,  356, 1131,    6, 1248,   84,  527, 1011,  280,  564,  419,
         74,  161], dtype=int64)